body {
    margin:0px; padding:0px; 
}

::-webkit-input-placeholder {
   color: #050407;
}

:-moz-placeholder { /* Firefox 18- */
   color: #050407;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #050407;
}

:-ms-input-placeholder {  
   color: #050407;
}


