/*
 @font-face {
	font-family: 'nexabold_old';
	src: url('Nexa-Bold.otf');
}
 
  @font-face {
	font-family: 'nexalight_old';
	src: url('Nexa Light.otf');
}
*/

@font-face {
    font-family: 'nexabold';
    src: url('nexabold.eot');
    src: url('nexabold.eot?#iefix') format('embedded-opentype'),
         url('nexabold.woff') format('woff'),
         url('nexabold.ttf') format('truetype'),
         url('nexabold.svg#nexabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nexalight';
    src: url('nexalight.eot');
    src: url('nexalight.eot?#iefix') format('embedded-opentype'),
         url('nexalight.woff') format('woff'),
         url('nexalight.ttf') format('truetype'),
         url('nexalight.svg#nexalight') format('svg');
    font-weight: normal;
    font-style: normal;

}



